
<div class="container">
  <div class="row">
    <div class="game col-lg-6 col-lg-offset-3">
      <h3>Game: <span class="timer small" data-seconds-left=7></span><span class="pull-right" id="sec">&nbsp;</span></h3>

      <p id="gameText"><%= @joke %></p>

      <p class="next-word"></p>
      <div class="form-group">
        <input class="form-control" type="text" rows="3" name="gameInput" disabled='disabled' id="gameInput" placeholder="Type the text above">
      </div>

      <%= link_to "New Game", races_path, class: "btn btn-primary pull-left hide new-game" %>
      <%= link_to "End Race", dashboard_path, class: "btn btn-danger pull-right" %>

    </div>
  </div>
</div>

<%= content_tag :div, class: "userData", data: {user: @user.id } do %><% end %>
<%= javascript_include_tag "simple-timer.min.js" %>
<%= javascript_include_tag "races.js" %>
