
<div class="container">
  <h1>Pages#index</h1>
  <p>Find me in app/views/pages/index.html.erb</p> 
  <% if user_signed_in? %>
  <%= link_to "PLAY", races_path, class: "btn btn-default btn-lg" %>
  <% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "New account", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <a class="btn btn-default btn-lg btn-login" data-toggle="modal" data-target="#login">Login</a>
  <% end %>
</div>

<div class="hero-unit">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1>Hello, world! Full width Hero-unit header</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <% if user_signed_in? %>
        <%= link_to "PLAY", races_path, class: "btn btn-default" %>
        <% else %>
        <p>
        <%= link_to "New account", new_user_registration_path, class: "btn btn-default" %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-default' , "data-target" => "#login", "data-toggle" => "modal" %>
        </p>
        <% end %>

      </div>
    </div>
  </div>
</div>


<div class="public-landing">

  <div class="container">
    <div class="block-grid-lg-5 block-grid-md-4 block-grid-sm-2 block-grid-xs-1">

      <% @lastplays.each do | race | %>
      <div class="block-grid-item">
        <div class="user-card">
          <figure class="avatar">
            <img src="<%= race.user.avatar %>" alt="" />
          </figure>
          <div class="content">
            <p><%= race.user.name %><br>
             Score: <span><%= race.wpm %></span></p>
             <p>
             <%= link_to "See profile", user_path(race.user.id), class: "btn btn-default btn-sm" %>
             </p>
           </div>
         </div>
       </div>
       <% end %>

     </div>
   </div>
 </div>

 <%= render 'login' %>
